In [1]:
import pandas as pd
import numpy as np
from scipy import stats, integrate
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns; sns.set()
from plotly import graph_objects as go
%matplotlib inline

In [2]:
data_study_level=pd.read_excel('../usedata/2016/UK domiciled leavers in employment 201617.xlsx')
data_study_level

,"Table 12a - UK domiciled leavers in employment within the UK by level of qualification obtained, region of domicile and region of employment 2016/17",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,UK region of employment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Domicile,North East,North West,Yorkshire and The Humber,East Midlands,West Midlands,East of England,London,South East,South West,England region unknown,Total England,Wales,Scotland,Northern Ireland,"Guernsey, Jersey and the Isle of Man",UK region unknown,Total \nUK
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Postgraduate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,This work is licensed under a Creative Commons...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,"Published by HESA, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,www.hesa.ac.uk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data_study_level.loc[2:63]

,"Table 12a - UK domiciled leavers in employment within the UK by level of qualification obtained, region of domicile and region of employment 2016/17",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
2,Domicile,North East,North West,Yorkshire and The Humber,East Midlands,West Midlands,East of England,London,South East,South West,England region unknown,Total England,Wales,Scotland,Northern Ireland,"Guernsey, Jersey and the Isle of Man",UK region unknown,Total \nUK
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Postgraduate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,North East,2035,75,150,30,25,30,135,65,25,5,2575,0,45,5,0,5,2640
6,North West,70,6330,270,90,195,95,460,165,95,65,7835,90,80,5,10,25,8045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Total other undergraduate,1150,2335,1315,1150,2130,1815,3000,2710,1585,160,17350,1585,1820,530,25,40,21355
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Total UK domiciled,10285,30220,20055,15865,22270,19285,62160,33625,19940,1545,235250,12390,22240,8155,455,1020,279510
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#about all students, not divide into post, under and other
data_2016=pd.read_excel('../usedata/2016/Destinations of UK domiciled leavers in employment in the UK by region of domicile 2016.xlsx')
data_2016

,"Table I - Destinations of UK domiciled leavers in employment in the UK by region of domicile, region of HE provider and region of employment 2016/17",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Region of employment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,London,Other England,Total England (excluding region unknown),Wales,Scotland,Northern Ireland,"Guernsey, Jersey and the Isle of Man",Total UK (excluding region unknown),England and UK region unknown,Total UK
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Region of domicile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,London,34545,7510,42050,150,215,25,10,42455,555,43010
6,Other England,25245,158035,183285,1985,1485,135,95,186985,1850,188840
7,Total England (excluding region unknown),59790,165545,225335,2140,1700,160,105,229440,2405,231845
8,Wales,775,2765,3540,10120,80,5,10,13755,70,13825
9,Scotland,915,1505,2415,60,20015,40,5,22535,45,22580
10,Northern Ireland,415,1115,1530,50,410,7940,5,9935,30,9965
11,"Guernsey, Jersey and the Isle of Man",85,200,285,5,10,0,330,630,10,640
12,Total UK (excluding region unknown),61975,171130,233110,12375,22215,8145,455,276295,2560,278855
13,England and UK region unknown,180,415,595,15,25,5,0,645,10,650
14,Total UK,62160,171545,233705,12390,22240,8155,455,276940,2570,279510
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,London,0.814,0.177,0.991,0.004,0.005,0.001,0,1,NaN,NaN
17,Other England,0.135,0.845,0.98,0.011,0.008,0.001,0.001,1,NaN,NaN
18,Total England (excluding region unknown),0.261,0.722,0.982,0.009,0.007,0.001,0,1,NaN,NaN
19,Wales,0.056,0.201,0.257,0.736,0.006,0,0.001,1,NaN,NaN
20,Scotland,0.041,0.067,0.107,0.003,0.888,0.002,0,1,NaN,NaN
21,Northern Ireland,0.042,0.112,0.154,0.005,0.041,0.799,0.001,1,NaN,NaN
22,"Guernsey, Jersey and the Isle of Man",0.138,0.315,0.453,0.011,0.014,0,0.521,1,NaN,NaN
23,Total UK (excluding region unknown),0.224,0.619,0.844,0.045,0.08,0.029,0.002,1,NaN,NaN
24,England and UK region unknown,0.283,0.645,0.928,0.022,0.039,0.011,0,1,NaN,NaN
25,Total UK,0.224,0.619,0.844,0.045,0.08,0.029,0.002,1,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Region of HE provider,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,London,29975,10120,40095,190,185,55,25,40550,720,41265
29,Other England,29765,154805,184570,2635,1380,855,390,189830,1700,191530
30,Total England,59735,164925,224665,2825,1565,910,415,230375,2420,232795
31,Wales,945,4025,4970,9450,70,40,20,14555,95,14650
32,Scotland,1300,2225,3525,95,20520,240,20,24395,50,24445
33,Northern Ireland,180,370,545,15,85,6965,0,7615,5,7620
34,Total UK,62160,171545,233705,12390,22240,8155,455,276940,2570,279510
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,London,0.739,0.25,0.989,0.005,0.005,0.001,0.001,1,NaN,NaN
37,Other England,0.157,0.816,0.972,0.014,0.007,0.004,0.002,1,NaN,NaN
38,Total England,0.259,0.716,0.975,0.012,0.007,0.004,0.002,1,NaN,NaN
39,Wales,0.065,0.277,0.341,0.649,0.005,0.003,0.001,1,NaN,NaN
40,Scotland,0.053,0.091,0.144,0.004,0.841,0.01,0.001,1,NaN,NaN
41,Northern Ireland,0.023,0.048,0.072,0.002,0.011,0.915,0,1,NaN,NaN
42,Total UK,0.224,0.619,0.844,0.045,0.08,0.029,0.002,1,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,See data intelligence.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,"In this table 0, 1, 2 are rounded to 0. All ot...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Percentages are not subject to rounding.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Â© Higher Education Statistics Agency Limited 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data_domicile_employment_2016=data_2016.loc[2:14]
# data_domicile_employment_2016.drop(data_domicile_employment_2016.index[0])

In [6]:
data_domicile_employment_2016.columns=data_domicile_employment_2016.iloc[0]
domicile_employment_2016 = data_domicile_employment_2016[1:]
domicile_employment_2016

2,NaN,London,Other England,Total England (excluding region unknown),Wales,Scotland,Northern Ireland,"Guernsey, Jersey and the Isle of Man",Total UK (excluding region unknown),England and UK region unknown,Total UK
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Region of domicile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,London,34545,7510,42050,150,215,25,10,42455,555,43010
6,Other England,25245,158035,183285,1985,1485,135,95,186985,1850,188840
7,Total England (excluding region unknown),59790,165545,225335,2140,1700,160,105,229440,2405,231845
8,Wales,775,2765,3540,10120,80,5,10,13755,70,13825
9,Scotland,915,1505,2415,60,20015,40,5,22535,45,22580
10,Northern Ireland,415,1115,1530,50,410,7940,5,9935,30,9965
11,"Guernsey, Jersey and the Isle of Man",85,200,285,5,10,0,330,630,10,640
12,Total UK (excluding region unknown),61975,171130,233110,12375,22215,8145,455,276295,2560,278855
13,England and UK region unknown,180,415,595,15,25,5,0,645,10,650
14,Total UK,62160,171545,233705,12390,22240,8155,455,276940,2570,279510

In [7]:
domicile_employment_2016.rename(columns={np.nan: "Region of domicile"}, inplace=True)
domicile_employment_2016_new=domicile_employment_2016.drop([3,4])

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
domicile_employment_2016_new

2,Region of domicile,London,Other England,Total England (excluding region unknown),Wales,Scotland,Northern Ireland,"Guernsey, Jersey and the Isle of Man",Total UK (excluding region unknown),England and UK region unknown,Total UK
5,London,34545,7510,42050,150,215,25,10,42455,555,43010
6,Other England,25245,158035,183285,1985,1485,135,95,186985,1850,188840
7,Total England (excluding region unknown),59790,165545,225335,2140,1700,160,105,229440,2405,231845
8,Wales,775,2765,3540,10120,80,5,10,13755,70,13825
9,Scotland,915,1505,2415,60,20015,40,5,22535,45,22580
10,Northern Ireland,415,1115,1530,50,410,7940,5,9935,30,9965
11,"Guernsey, Jersey and the Isle of Man",85,200,285,5,10,0,330,630,10,640
12,Total UK (excluding region unknown),61975,171130,233110,12375,22215,8145,455,276295,2560,278855
13,England and UK region unknown,180,415,595,15,25,5,0,645,10,650
14,Total UK,62160,171545,233705,12390,22240,8155,455,276940,2570,279510

In [9]:
for col in domicile_employment_2016_new.columns: 
    print(col)

Region of domicile
London
Other England
Total England (excluding region unknown)
Wales
Scotland
Northern Ireland
Guernsey, Jersey and the Isle of Man
Total UK (excluding region unknown)
England and UK region unknown
Total UK

In [10]:
domicile_employment_2016_final=domicile_employment_2016_new.drop(domicile_employment_2016_new.columns[[0]],axis=1)
#df = df.drop(df.columns[[0, 1, 3]], axis=1)

In [11]:
final_2016=domicile_employment_2016_new.reset_index(drop=True)

In [12]:
final_2016

2,Region of domicile,London,Other England,Total England (excluding region unknown),Wales,Scotland,Northern Ireland,"Guernsey, Jersey and the Isle of Man",Total UK (excluding region unknown),England and UK region unknown,Total UK
0,London,34545,7510,42050,150,215,25,10,42455,555,43010
1,Other England,25245,158035,183285,1985,1485,135,95,186985,1850,188840
2,Total England (excluding region unknown),59790,165545,225335,2140,1700,160,105,229440,2405,231845
3,Wales,775,2765,3540,10120,80,5,10,13755,70,13825
4,Scotland,915,1505,2415,60,20015,40,5,22535,45,22580
5,Northern Ireland,415,1115,1530,50,410,7940,5,9935,30,9965
6,"Guernsey, Jersey and the Isle of Man",85,200,285,5,10,0,330,630,10,640
7,Total UK (excluding region unknown),61975,171130,233110,12375,22215,8145,455,276295,2560,278855
8,England and UK region unknown,180,415,595,15,25,5,0,645,10,650
9,Total UK,62160,171545,233705,12390,22240,8155,455,276940,2570,279510

In [13]:
'''
# Libraries
library(tidyverse)
library(viridis)
library(patchwork)
library(hrbrthemes)
library(circlize)

# Load dataset from github
data <- read.table("final_2016", header=TRUE)
# Package
library(networkD3)

# I need a long format
data_long <- data %>%
  rownames_to_column %>%
  gather(key = 'key', value = 'value', -rowname) %>%
  filter(value > 0)
colnames(data_long) <- c("source", "target", "value")
data_long$target <- paste(data_long$target, " ", sep="")

# From these flows we need to create a node data frame: it lists every entities involved in the flow
nodes <- data.frame(name=c(as.character(data_long$source), as.character(data_long$target)) %>% unique())
 
# With networkD3, connection must be provided using id, not using real name like in the links dataframe.. So we need to reformat it.
data_long$IDsource=match(data_long$source, nodes$name)-1 
data_long$IDtarget=match(data_long$target, nodes$name)-1

# prepare colour scale
ColourScal ='d3.scaleOrdinal() .range(["#FDE725FF","#B4DE2CFF","#6DCD59FF","#35B779FF","#1F9E89FF","#26828EFF","#31688EFF","#3E4A89FF","#482878FF","#440154FF"])'

# Make the Network
sankeyNetwork(Links = data_long, Nodes = nodes,
                     Source = "IDsource", Target = "IDtarget",
                     Value = "value", NodeID = "name", 
                     sinksRight=FALSE, colourScale=ColourScal, nodeWidth=40, fontSize=13, nodePadding=20'''

'\n# Libraries\nlibrary(tidyverse)\nlibrary(viridis)\nlibrary(patchwork)\nlibrary(hrbrthemes)\nlibrary(circlize)\n\n# Load dataset from github\ndata <- read.table("final_2016", header=TRUE)\n# Package\nlibrary(networkD3)\n\n# I need a long format\ndata_long <- data %>%\n  rownames_to_column %>%\n  gather(key = \'key\', value = \'value\', -rowname) %>%\n  filter(value > 0)\ncolnames(data_long) <- c("source", "target", "value")\ndata_long$target <- paste(data_long$target, " ", sep="")\n\n# From these flows we need to create a node data frame: it lists every entities involved in the flow\nnodes <- data.frame(name=c(as.character(data_long$source), as.character(data_long$target)) %>% unique())\n \n# With networkD3, connection must be provided using id, not using real name like in the links dataframe.. So we need to reformat it.\ndata_long$IDsource=match(data_long$source, nodes$name)-1 \ndata_long$IDtarget=match(data_long$target, nodes$name)-1\n\n# prepare colour scale\nColourScal =\'d3.scaleOrdinal() .range(["#FDE725FF","#B4DE2CFF","#6DCD59FF","#35B779FF","#1F9E89FF","#26828EFF","#31688EFF","#3E4A89FF","#482878FF","#440154FF"])\'\n\n# Make the Network\nsankeyNetwork(Links = data_long, Nodes = nodes,\n                     Source = "IDsource", Target = "IDtarget",\n                     Value = "value", NodeID = "name", \n                     sinksRight=FALSE, colourScale=ColourScal, nodeWidth=40, fontSize=13, nodePadding=20'

In [14]:
import json,urllib
import chart_studio.plotly as py
from plotly.offline import *
import plotly.io as pio

In [22]:
uk_2016 = pd.read_csv('../usedata/2016/UK_2016.csv')
data_trace = dict(
    type='sankey',
     domain = dict(
       x =  [0,1],
       y =  [0,1]
     ),
    orientation = "h",
    valueformat = ".0f",
    node = dict(
      pad = 10,
      thickness = 20,
      line = dict(
        color = "aliceblue",
        width = 0.3
      ),
      label =  uk_2016['Node, Label'].dropna(axis=0, how='any'),
      color = uk_2016['Color']
    ),
    link = dict(
      source = uk_2016['Source'].dropna(axis=0, how='any'),
      target = uk_2016['Target'].dropna(axis=0, how='any'),
      value = uk_2016['Value'].dropna(axis=0, how='any'),
        color=uk_2016['Link color'].dropna(axis=0,how='any'),
  )
)


fig = dict(data=[data_trace], layout=layout)
pio.show(fig)

In [25]:
uk_2016_region = pd.read_csv('../usedata/2016/UK_2016_region.csv')
uk_2016_region

,Region,North East,North West,Yorkshire and The Humber,East Midlands,West Midlands,East of England,London,South East,South West,England region unknown,Wales,Scotland,Northern Ireland,"Guernsey, Jersey and the Isle of Man",UK region unknown
0,North East,2035,75,150,30,25,30,135,65,25,5,0,45,5,0,5
1,North West,70,6330,270,90,195,95,460,165,95,65,90,80,5,10,25
2,Yorkshire and The Humber,150,290,3905,190,75,90,310,120,60,40,15,45,5,0,25
3,East Midlands,30,170,320,2975,290,170,390,220,105,20,25,40,5,5,10
4,West Midlands,30,210,100,225,4370,115,405,230,185,30,75,35,5,0,25
5,East of England,40,100,100,135,100,2880,1400,375,115,20,25,55,0,5,20
6,London,35,120,85,90,140,515,11135,860,140,95,40,90,10,0,55
7,South East,40,150,135,135,160,325,2285,5765,345,45,70,75,10,5,30
8,South West,35,85,65,60,140,120,595,515,3495,20,105,55,5,5,15
9,England region unknown,10,80,30,10,20,25,115,45,25,0,10,20,5,0,5
10,Wales,10,160,25,30,110,45,190,120,175,5,2355,25,0,0,10
11,Scotland,55,75,60,35,35,65,295,95,55,5,20,6330,10,0,15
12,Northern Ireland,25,110,30,15,25,25,130,45,20,5,10,75,1900,0,5
13,"Guernsey, Jersey and the Isle of Man",0,5,10,5,0,0,15,20,10,0,0,0,0,70,0
14,UK region unknown,0,10,5,0,5,5,15,5,5,0,0,0,0,0,0
15,North East,4975,255,420,105,85,65,365,125,65,30,30,120,10,0,15
16,North West,290,14935,985,340,465,245,1305,430,300,155,260,210,20,10,90
17,Yorkshire and The Humber,480,875,9260,570,250,210,1010,280,150,120,60,130,5,10,60
18,East Midlands,160,540,880,6940,715,520,1250,625,290,55,95,75,5,5,45
19,West Midlands,80,750,395,850,10900,235,1320,620,585,90,260,75,10,10,60
20,East of England,95,365,410,645,330,9055,4600,1195,445,85,100,105,15,5,65
21,London,90,325,240,315,385,1315,21240,2020,420,200,110,120,15,10,175
22,South East,120,425,340,485,510,805,6585,15050,1440,160,255,180,20,20,125
23,South West,45,325,205,200,400,255,2080,1285,9095,80,420,100,15,10,45
24,England region unknown,0,15,25,15,10,10,40,20,10,0,0,0,0,0,0
25,Wales,30,575,105,85,240,100,555,265,510,25,6290,50,0,10,25
26,Scotland,95,195,105,70,90,90,600,215,110,5,40,11935,30,0,20
27,Northern Ireland,100,305,65,50,55,55,270,90,65,10,35,330,5525,5,10
28,"Guernsey, Jersey and the Isle of Man",10,25,15,10,10,5,70,40,25,0,5,10,0,235,5
29,UK region unknown,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0
30,North East,1045,15,25,5,10,10,20,10,5,10,5,20,0,0,0
31,North West,15,2040,40,15,40,5,45,20,15,25,30,5,0,0,5
32,Yorkshire and The Humber,40,55,1110,45,15,10,35,20,15,25,5,5,0,0,0
33,East Midlands,5,25,55,885,70,50,30,45,15,10,0,5,0,0,5
34,West Midlands,10,55,20,65,1840,15,50,40,40,15,20,0,0,0,5
35,East of England,5,10,15,40,15,1530,250,80,20,15,15,5,0,0,5
36,London,5,15,10,20,30,100,2170,195,30,25,5,5,0,0,5
37,South East,10,15,15,35,25,70,280,2130,80,20,10,15,0,0,5
38,South West,5,15,10,10,35,10,55,120,1310,15,20,5,0,0,0
39,England region unknown,0,5,0,0,5,0,5,5,5,0,0,0,0,0,0
40,Wales,0,60,10,5,30,10,25,25,50,0,1475,5,0,0,5
41,Scotland,5,15,0,10,5,5,20,15,5,0,0,1750,5,0,0
42,Northern Ireland,5,15,0,0,5,0,15,5,0,0,0,5,515,0,0
43,"Guernsey, Jersey and the Isle of Man",0,0,0,0,0,0,0,0,0,0,0,0,0,25,0
44,UK region unknown,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [40]:
uk_2016_region_new=uk_2016_region.groupby(['Region']).sum()
uk_2016_region_new

,North East,North West,Yorkshire and The Humber,East Midlands,West Midlands,East of England,London,South East,South West,England region unknown,Wales,Scotland,Northern Ireland,"Guernsey, Jersey and the Isle of Man",UK region unknown
Region,,,,,,,,,,,,,,,
East Midlands,195,735,1255,10800,1075,740,1670,890,410,85,120,120,10,10,60
East of England,140,475,525,820,445,13465,6250,1650,580,120,140,165,15,10,90
England region unknown,10,100,55,25,35,35,160,70,40,0,10,20,5,0,5
"Guernsey, Jersey and the Isle of Man",10,30,25,15,10,5,85,60,35,0,5,10,0,330,5
London,130,460,335,425,555,1930,34545,3075,590,320,155,215,25,10,235
North East,8055,345,595,140,120,105,520,200,95,45,35,185,15,0,20
North West,375,23305,1295,445,700,345,1810,615,410,245,380,295,25,20,120
Northern Ireland,130,430,95,65,85,80,415,140,85,15,45,410,7940,5,15
Scotland,155,285,165,115,130,160,915,325,170,10,60,20015,45,0,35
South East,170,590,490,655,695,1200,9150,22945,1865,225,335,270,30,25,160
South West,85,425,280,270,575,385,2730,1920,13900,115,545,160,20,15,60
UK region unknown,0,10,5,0,5,5,20,5,5,0,0,0,0,0,0
Wales,40,795,140,120,380,155,770,410,735,30,10120,80,0,10,40
West Midlands,120,1015,515,1140,17110,365,1775,890,810,135,355,110,15,10,90
Yorkshire and The Humber,670,1220,14275,805,340,310,1355,420,225,185,80,180,10,10,85

In [59]:
columns=list(uk_2016_region_new)

for i in columns:
    print(uk_2016_region_new[i][14])

670
1220
14275
805
340
310
1355
420
225
185
80
180
10
10
85